.Footer {
  background: rebeccapurple;
  padding: 4em 0em;
  margin-top: 3em;
  border-top: 1px solid #f2f2f2;
}

.List {
  display: flex;
}

.Colophon {
  text-align: center;
  margin-top: 3.2rem;
  font-size: 0.8rem;
}

.ColophonyEntry {
  margin-bottom: 0;
}
